   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .content {
        padding: 10px;
        padding-left: 10%;
        padding-right: 10%;
    }
}

html {
    font-family: Helvetica, Arial, sans-serif;
    margin: 10%;
    text-align: center;
}

header {
    font-size: 3em;
}

#intro-box {
    background-color: lightblue;
    padding: 20px;
}

#button {
    margin-top: 35px;
}

#play {
    color: white;
    font-weight: bold;
    background-color: orange;
    padding: 20px;
}